---
import '../styles/global.css';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AR Solutions</title>
  </head>
  <body>
    <slot /> <!-- Your page content will go here -->

    <script src="/sidebar-toggle.js"></script>
    <script src="/animated-numbers.js"></script>
  </body>
</html>
